* {
    margin: 0;
    padding: 0;
    
}
body{
    position: relative;
    background-color: #E5E5E5;
    opacity: 0.6;
    background-image: radial-gradient(#000000 0.4px, #E5E5E5 0.4px);
    background-size: 8px 8px;
}

.container_header {
    width: 100%;
    height: 100%;
    display: inline-block;

    background-color: #ecddcc;
    background-image: radial-gradient(#000000 0.4px, #ecddcc 0.4px);
    background-size: 8px 8px;
}

@media (min-width: 750px) {
    header {
        text-align: left;
    }
}

.logo {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
}

.title {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}


.flex-container {
    display: flex;
}

.flex-child-left{
    flex: 2;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid rgb(142, 236, 147);
    top: 100px;
    height: 700px;
}  

.flex-child-right {
    flex: 2;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100px;
    height: 700px;
    top: 100px;
    background: #FFFFFF;
    box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

@media (max-width: 640px) {
    /* on screens 640px and wider, make the .row element a flexbox */
    .flex-container {
        display: flex;
        /* wrap columns if they are too wide for one line */
        flex-wrap: wrap;
    }
    /* make all columns consume half the row width */
    .flex-child-left {
        flex-basis: 50%;
    }
    .flex-child-right {
        flex-basis: 50%;
    }
}

@media (min-width: 640px) and (max-width: 1280px){
    /* on screens 768px and wider, make the .row element a flexbox */
    .flex-container {
        display: flex;
        /* wrap columns if they are too wide for one line */
        flex-wrap: wrap;
    }
    /* make all columns consume half the row width */
    .flex-child-left {
        flex-basis: auto;
    }
    .flex-child-right {
        flex-basis: auto;
    }
}


@media (min-width: 1200px) {
    /* on screens 1200px and wider... */
    .flex-child-left {
        /* reset flex-basis to automatic sizing based on content*/
        flex-basis: auto;
        /* grow all columns equally */
        flex-grow: 2;
    }
    .flex-child-right {
        /* reset flex-basis to automatic sizing based on content*/
        flex-basis: auto;
        /* grow all columns equally */
        flex-grow: 2;
    }
} 



footer{
    background-color: #ecddcc;
    background-image: radial-gradient(#000000 0.4px, #ecddcc 0.4px);
    background-size: 8px 8px;
}

@media (min-width: 750px) {
    footer {
        text-align: center;
    }
}


.footer .four-columns{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    vertical-align: middle; 
}
