* {
    margin: 0;
    padding: 0;
    
}
body{
    position: relative;
    background-color: #f3f5fc;
    background-size: 8px 8px;
}

.container_header {
    margin: auto;
    width: 100%;
    height: 100%;
    display: inline-block;

    background-image: linear-gradient(to right top, #77d8f9, #78d2fb, #7bccfb, #81c6fb, #88bff9, #91bef8, #9abef7, #a2bdf5, #adc3f6, #b7c9f7, #c1cff8, #cad5f9);
}


.logo {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
}

.title {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    padding:3rem;

    justify-content: space-between;
    padding: 20px;
}

.flex-child-left{
    flex-direction: column;
    align-items: flex-start;
    top: 100px;
    width: 60%;
    height: 60%;
}  

.flex-child-right {
    padding: 1rem;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    height: auto;
    top: 100px;
    max-height: fit-content;
    margin-right: 5%;

    background: #FFFFFF;
    box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
}  


/* responsive---------------------*/
@media (max-width: 640px) {
    /* on screens 640px and wider, make the .row element a flexbox */
    .flex-container {
        display: flex;
        /* wrap columns if they are too wide for one line */
        flex-wrap: wrap;
    }
    /* make all columns consume half the row width */
    .flex-child-left {
        flex-basis: 50%;
    }
    .flex-child-right {
        flex-basis: 50%;
    }
}

@media (min-width: 768px) and (max-width: 1280px){
    /* on screens 768px and wider, make the .row element a flexbox */
    .flex-container {
        display: flex;
        /* wrap columns if they are too wide for one line */
        flex-wrap: wrap;
    }
    /* make all columns consume half the row width */
    .flex-child-left {
        flex-basis: auto;
    }
    .flex-child-right {
        flex-basis: auto;
    }
}


@media (min-width: 1200px) {
    /* on screens 1200px and wider... */
    .flex-child-left {
        /* reset flex-basis to automatic sizing based on content*/
        flex-basis: auto;
        /* grow all columns equally */
        flex-grow: 2;
    }
    .flex-child-right {
        /* reset flex-basis to automatic sizing based on content*/
        flex-basis: auto;
        /* grow all columns equally */
        flex-grow: 2;
    }
} 

/*-----------------------*/


.left-button{
    margin-top: 400px;
}


.text-input {
    float: left;
    margin-left: 5%;
    margin-top: 10%;
    width: 90%;
    height: 100%;
    color: #0d68d8;
    font-size: 20px;
    border: none;
    background: transparent;

}

#imgDer {

    background: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

#texto {
    margin-left: auto;
    margin-right: auto;   
    background: white;
    text-align: center;
    vertical-align: middle; 

}

#texto2 {
    color: #0a3871; 
    background: transparent;
    border: 0 none;
    width: 100%;
    outline: none;
    height: 35%;
    overflow: auto;
    text-align: center;
}

.left-button p {
    padding: 7.5%;
    color: rgb(119, 129, 138);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
    
}

.in-section-send-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-section-send-btns button {
    margin-bottom: -10px;
    margin: 0 10px; /* Opcional: agregar margen horizontal entre los botones */
}



#btn-encriptar {
    padding: 24px;
    width: auto;
    height: auto;
    border-radius: 24px;
    background: #0a3871;
    color: white;
    
}

#btn-desencriptar {
    padding: 24px;
    width: auto;
    height: auto;
    border-radius: 24px;
    background: #d8dfe8;
}

#btn-encriptar:hover {
    background: #1b6bce;
}
#btn-desencriptar:hover {
    background: #176fda;
}

#btn-encriptar:disabled,
#btn-encriptar[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
#btn-desencriptar:disabled,
#btn-desencriptar[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#copiar {
    margin-left: 33%;
    margin-top: 90%;
    padding: 24px;
    width: 40%;
    height: 10%;
    background:#d8dfe8;
    border-radius: 24px; 
    display: none;

}



footer{
    background-image: linear-gradient(to right top, #77d8f9, #78d2fb, #7bccfb, #81c6fb, #88bff9, #91bef8, #9abef7, #a2bdf5, #adc3f6, #b7c9f7, #c1cff8, #cad5f9);
}



.footer .four-columns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle; 
}
